.FixedBar {
  position: fixed;
  top: calc(50vh - 100px);
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 210px;
  width: 50px;
  z-index: 99;
}
.Comunity-Chanel {
}

@media (max-width: 767px) {
  .FixedBar {
    top: calc(90vh - 110px);
    right: 0;
    border-radius: 10px 0 0 10px;
    height: 100px;
    width: 50px;
    padding-top: 5px;
  }
  .Disappear--sm{
      display: none;
  }
}
